<div class="row sectionbar_margin">
  <div class="col-sm">
    <div class="sectionbar_left">
      <h4>
        1
      </h4>
    </div>
    <div class="progress sectionbar noselect">
        <div class="progress-bar s_color1-bg" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
          <span class="tooltiptext">
            Iceberg<br>
            Gruppe: Salat<br>
            Space: 0-10m
          </span>
        </div>
        <div class="progress-bar s_color2-bg" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <span class="tooltiptext">
                Iceberg2<br>
                Gruppe: Salat2<br>
                Space: 11-20m
              </span>
        </div>
        <div class="progress-bar s_color3-bg" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <span class="tooltiptext">
                Iceberg3<br>
                Gruppe: Salat3<br>
                Space: 21-30m
              </span>
        </div>
        <div class="progress-bar s_color4-bg" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <span class="tooltiptext">
                Iceberg4<br>
                Gruppe: Salat4<br>
                Space: 31-40m
              </span>
        </div>
        <div class="progress-bar s_inactive-bg" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <span class="tooltiptext" (click)="addSection();">
                <button class="first-color btn btn-icon-text">Tilføj</button><br>
                Space: 41-10m
              </span>
        </div>
    </div>
    <div class="sectionbar_right">
      120 m.
    </div>
  </div>
</div>
<br>
<div>
  <div class="row">
    <div class="col-12"><h3>Oops, page not found</h3></div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
      <div class="col-sm">
          <h3>Fonts</h3>
          <div class="jumbotron">
              <h1>H1 ere are some links to help you start: </h1>
              <h2>H2 ere are some links to help you start: </h2>
              <h3>H3 ere are some links to help you start: </h3>
              <h4>H4 ere are some links to help you start:</h4>
              <h5>H5 ere are some links to help you start:</h5>
              <p>P normal text</p>
          </div>
        </div>
        <div class="col-sm">
            <h3>Colors</h3>

            <div class="jumbotron">

                <h3 class="grey-very-dark">grey-very-dark</h3>
                <p>P normal text</p>
                <p class="lighter-font">P normal text</p>
            </div>
          </div>
          <div class="col-sm">
              <h3>naming conventions</h3>
              <p>
                  <br>
                    b_ = button<br>
                    h_ = header<br>
                    p_ = text / paragraf<br>
                    n_ = nav<br>
                    i_ = input<br>
                    il_ = input label</p>
        </div>
  </div>
  <div class="row">
    <div class="col-sm">
        <h3>Chart pie</h3>
        <div class="jumbotron">
          <!-- <google-chart [data]="pieChartData"></google-chart> -->
        </div>
    </div>
    <div class="col-sm">
      <h3>Donut chart</h3>
      <div class="jumbotron">
        <!-- <google-chart [data]="donutchartData"></google-chart> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
        <h3>Colum chart</h3>
        <div class="jumbotron">
          <!-- <google-chart [data]="columchartData"></google-chart> -->
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>Box design</h3>
      <p>Remove class: badge_icon from badge if you want to roll without a p subheader</p>
      <div class="card mb-3">
        <div class="card-header">
          <div class="float-left">
            <h4>Title of box</h4>
            <p>here is text under</p>
          </div>
          <div class="badge badge-primary float-right badge_icon">
              <i class="fas fa-pencil-alt"></i>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-xl-5 col-lg-6 col-sm-12 col-md-12">
                  <b>Serienummer:</b>
              </div>
              <div class="col-xl-7 col-lg-6 col-sm-12 col-md-12">
                CNHND07565
              </div>
            </div>
            <div class="row">
              <div class="col-xl-5 col-lg-6 col-sm-12 col-md-12">
                  <b>Producent:</b>
              </div>
              <div class="col-xl-7 col-lg-6 col-sm-12 col-md-12">
                  HP - Print
              </div>
            </div>
            <div class="row">
              <div class="col-xl-5 col-lg-6 col-sm-12 col-md-12">
                  <b>Modelnummer:</b>
              </div>
              <div class="col-xl-7 col-lg-6 col-sm-12 col-md-12">
                  CC520A
              </div>
            </div>
            <div class="row">
              <div class="col-xl-5 col-lg-6 col-sm-12 col-md-12">
                  <b>Modelbeskrivelse:</b>
              </div>
              <div class="col-xl-7 col-lg-6 col-sm-12 col-md-12">
                  HP CLJ CM3530fs MFP Printer-DK
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <h3>Accordion</h3>
      <p>standard accordion</p>
      <div>
          <div class="card">
            <div class="card-header noselect collapsed" data-toggle="collapse" data-target="#collapse1">
              <h4>
                <div class="float-left">
                    Collapsible #1
                </div>
                <i class="fas fa-angle-down float-right icon_arrow grey-light-text"></i>
              </h4>
            </div>
            <div id="collapse1" class="collapse">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="card">
            <div class="card-header noselect collapsed" data-toggle="collapse" data-target="#collapse2">
              <h4>
                <div class="float-left">
                    Collapsible #2
                </div>
                <i class="fas fa-angle-down float-right icon_arrow grey-light-text"></i>
              </h4>
            </div>
            <div id="collapse2" class="collapse">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
        <h3>Log</h3>
        <p>Chat log with build in accordion - height is on purposely low</p>
        
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm">
        <h3>Forms</h3>
        <p>Example of forms with validation</p>
        <app-form-example></app-form-example>
      </div>
      <div class="col-sm">
         &nbsp;
      </div>
</div><br>

