<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="headerDataConnectionString" value="server=localhost;uid=stef;pwd=9510;database=report_data;SslMode=none" />
    <add key="fileConnectionString" value="server=localhost;uid=stef;pwd=9510;database=system-file;SslMode=none"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="8.0.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>