<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="headerDataConnectionString" value="server=localhost;uid=stef;pwd=9510;database=report_data;SslMode=none" />
    <add key="integrationConnectionString" value="server=localhost;uid=stef;pwd=9510;database=system-user;SslMode=none" />
  </appSettings>
</configuration>