<div class="topbar print-hide">
  <div class="float-left">
     
  </div>
      <div class="dropdown">
          <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle float-left"></i> <span class="d-none d-sm-block float-left">Profil</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <!-- <a class="dropdown-item" href="#">
                <i class="fas fa-cog"></i> Indstillinger
            </a> -->
            <a class="dropdown-item" (click)="logOut()">
                <i class="fas fa-sign-out-alt"></i> Log ud
            </a>
          </div>
        </div>
</div>
